<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Nova mensagem recebida.
</p>
<p>
  Nome: <%= @contact.nome %>
</p>

<p>
  E-mail: <%= @contact.email %>
</p>

<p>
  Telefone: <%= @contact.telefone %>
</p>

<p>
  Estado: <%= @contact.estado_nome %>
</p>

<p>
  Cidade: <%= @contact.cidade_nome %>
</p>

<p>
  Mensagem: <%= @contact.mensagem %>
</p>

</body>
</html>
